<hr>
<div class="d-flex justify-content-center"><h1>Creating an <strong>entry</strong></h1></div>
<hr>

<div class="container">
  <%= form_for :entry, url: entries_path do |f| %>
    <% if @entry.errors.any? %>
    <div style="color: #e53935;">
      <div id="error">
        <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this article from being saved:</h2>
      </div>

      <ul>
        <% @entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <h2>Title</h2><br>
      <%= f.text_field :title %>
    </p>
    <br>

    <p>
      <h2>Abstract</h2><br>
      <%= f.text_area :abstract %>
    </p>
    <br>

    <p>
      <h2>Text</h2><br>
      <%= f.text_area :text %>
    </p>
    <br>

    <p>
      <h2>Download link (Can be null)</h2><br>
      <%= f.text_field :link %>
    </p>
    <br>

    <p>
      <h2>Entry type:
      <%= f.collection_select :entry_type_id, EntryType.all, :id, :name %></h2>
    </p>
    <br>
    <hr>

    <p>
      <div class="d-flex justify-content-center"><h1><%= f.submit :class => "btn btn-success custom-submit-btn"%></h1></div>
    </p>

  <% end %>
</div>
